.center-it {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.modal-content {
    color: white;
    background-color: #333;   
}
canvas {
    cursor: pointer;
}